app = 'csopl-demo-api'
primary_region = 'dfw'

[build]
  dockerfile = 'opl-api/Dockerfile'

[env]
  PORT = '8000'
  PYTHONUNBUFFERED = '1'
  DEMO_MODE = 'true'
  DEMO_PLAYER_EMAIL = 'demo@csopl.com'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
