# fly.toml app configuration file generated for csopl-api on 2026-02-11T10:51:03-07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'csopl-api'
primary_region = 'dfw'

[build]
  dockerfile = 'opl-api/Dockerfile'

[env]
  PORT = '8000'
  PYTHONUNBUFFERED = '1'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
